@import '../../styles/scss/main.scss';

.menu__bar__slider {
	background-color: #fefefe;
	border: 1px solid $borderColour;

	height: 100vh;
	width: 400px;
	padding: $padding;

	display: inline-block;
	position: absolute;
	top: 0;
	left: $menuWidth;
}

.menu__bar__slider--hidden {
	display: none;
}

.menu__bar__slider--visible {
	display: inline-block;
}
