@import '../../styles/scss/main.scss';

.menu__bar__slider {
	display: inline-block;
	position: absolute;
	top: 0;
	left: $menuWidth;
	height: 100vh;
	background-color: #fefefe;
	@include transition(all, .2s, ease);
}

.menu__bar__slider--hidden {
	display: none;
	@include transition(all, .2s, ease);

	border: none;

	width: 0px;
	padding: 0px;
}

.menu__bar__slider--visible {
	display: inline-block;
	@include transition(all, .2s, ease);

	border: 1px solid $borderColour;
	border-left: 0px !important;

	width: $menuSliderWidth;
	padding: $padding;
}
