@import "../../styles/scss/main.scss";

.menu-link {
	&:hover,
	&:link,
	&:active,
	&:visited {
		text-decoration: none !important;
		cursor: pointer;
	}
}

.menu-link__container {
	border-bottom: 1px solid $borderColour;
	border-left: 5px solid $menuBg;
	padding: $padding;
	list-style: none;
	border-collapse: collapse;
	background-color: rgba(lighten($menuBg, 10%), .5);
	font-size: $menuFontSize;

	&:hover {
		border-left: 5px solid $brandPrimary;
		background-color: darken($menuBg, 20%);
	}
}

.menu-link__container__icon {
	display: block;
	text-align: center;
	font-size: 25px;
	color: $fontBlack;
}

.menu-link__container__text {
	display: block;
	text-align: center;
	color: transparent;
}

.menu-link:last-of-type {
	position: absolute;
	bottom: 0;
	width: $menuWidth;
	border-bottom: 0px;
	border-top: 1px solid $borderColour;
}
