$brand-primary:		#aaa;
$brand-secondary: 	#ccc;
$brand-tertiary: 	#eee;

$border-color: 		#ddd;
$border-width: 		1px;

$padding: 			22px;
$padding-sm: 		11px;
$padding-lg: 		44px;
$padding-xl: 		66px;

$index-pages: 		1;
$index-menu: 		2;

$menu-bg: 			$brand-secondary;
$menu-width: 		80px;
$menu-padding: 		$padding-sm;

$menu-slider-width: 300px;
$menu-slider-bg: 	$brand-tertiary;
