$brandPrimary: 		red;
$brandSecondary: 	#ccc;
$borderColour: 		#aaa;

$fontWhite: 		#fefefe;
$fontBlack: 		#101010;

$menuBg: 			$brandSecondary;
$menuWidth: 		100px;
$menuSliderWidth: 	400px;
$menuLinkHover:		$fontBlack;
$menuFontSize: 		12px;

$padding: 			22px;
